/* =========================================================
   BASE YACHAYPLAY
   ========================================================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}


body{
    background:#f4f4f8;
    color:#333;
}


.container{
    display:flex;
    min-height:100vh;
}


/* =========================================================
   ELEMENTOS GLOBALES
   ========================================================= */

button:disabled{

    background:#aaa;

    cursor:not-allowed;
}